body {
	background-color: #fffff;
	font-family: 'Source Serif Pro', serif;
	font-size: 120%;	
	ma rgin-left: 30%;
	ma rgin-right: 30%;
	max-width: 70%;
	text-align: left;
	width: 600px;
	margin: auto;
}
h1,h2,h3,h4,h5,h6 {
	margin:5px;
}
.entry {
margin-top: 5px;
background-color: #ffffff;
border-top: 1px, #000000;
border-top-style: dashed;
border-width: 1px;
}
