body {
	background-color: #ffffff;
	color: #000000;
;	font-family: 'Source Serif Pro', serif;
	font-family: "Courier New";
	font-size: 120%;	
	max-width: 80%;
	text-align: left;
	width: 700px;
	margin: auto;
}
h1,h2,h3,h4,h5,h6 {
	margin:5px;
}
.entry {
margin-top: 5px;
background-color: #FFFFFF;
border-top: 1px, #000000;
border-top-style: dashed;
border-width: 1px;
}
