AddDescription "Anime Should Be Illegal" anime-should-be-illegal.html
AddDescription "Suckless: The Good and Bad" suckless-the-good-and-bad.html
AddDescription "Funtoo Linux: Not the Fun Version of Gentoo" funtoo-linux-not-the-fun-version-of-gentoo.html
AddDescription "What's Gnu slash Linux?" whats-gnu-slash-linux.html
AddDescription "Why I use GNU plus Linux" why-i-use-gnu-plus-linux.html
AddDescription "Why Apple Sucks" why-apple-sucks.html
AddDescription "KPop Should be Illegal" kpop-should-be-illegal.html
AddDescription "Emo Music: What is it?" emo-music-what-is-it.html
AddDescription "co" "co.html" #Thu, 31 Jan 2019 17:58:53 -0600
